<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   AppCenter-Config.plist
   inflection_calc

   Created by Mohammed Almuzainy on 07/02/1445 AH.
   Copyright (c) 1445 AH ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
  <dict>
     <key>AppSecret</key>
     <string>d93b5d11-314b-477b-ac1e-0008da8209d2</string>
  </dict>
</plist>
